@model List<CarroModel>
@{
    ViewData["Title"] = "Veículos cadastrados";
}

@if (TempData["MensagemSucesso"] != null)
{
<div class="alert alert-success alert-fechar" role="alert">
    <button type="button" class="btn btn-danger btn-fechar close"><b>X</b></button>
    @TempData["MensagemSucesso"]
</div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger alert-fechar" role="alert">
        <button type="button" class="btn btn-danger btn-fechar close"><b>X</b></button>
        @TempData["MensagemErro"]
    </div>
}

<div class="container text-center">

    <h5 class="display-5">Veículos Cadastrados</h5>
    <br/>
    <div class="d-flex">
        <a role="button" class="btn btn-primary" asp-controller="Carros" asp-action="Cadastrar">Cadastrar Veículos</a>
    </div>
    <br />  
    <table class="table table-light table-hover table-sm table-striped table-bordered border-success">
        <thead class="text-success">
            <tr class="bg-success">
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Ano</th>
                <th scope="col">Estado</th>
                <th scope="col">Cor</th>
                <th scope="col" class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach(CarroModel carro in Model)
                {
                    <tr>
                        <th scope="row" class="text-success ">@carro.Id</th>
                        <td>@carro.Marca</td>
                        <td>@carro.Modelo</td>
                        <td>@carro.Ano</td>
                        <td>@carro.Estado</td>
                        <td>@carro.Cor</td>
                        <td>
                            <a role="button" class="btn btn-outline-success" asp-route-id="@carro.Id" asp-controller="Carros" asp-action="Gerenciar">Detalhes do Veículo</a>
                        </td>
                    </tr>
                }
            }
            else
            {
            <tr scope="row" colspan="5">Nenhum veículo encontrado</tr>
                @*<h5>Nenhum usuário encontrado</h5>*@
            }
            
            
        </tbody>
    </table>
</div>
